.usb-container {
  border: 1px solid rgb(140, 228, 255);
  border-radius: 5px;
  width: 97%;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.274);
  text-align: center;
  height: 200px;
  transition: background-color 100ms;
}

.usb-container:hover {
  background-color: rgba(255, 255, 255, 0.438);

}

.usb-container button {
  border: none;
  background-color: white;
  font-size: 50px;
  font-weight: 100;
}

.usb-container h3 {
  font-size: 25px;
  font-weight: 100;
  margin-top: 0px;
  margin-bottom: 30px;
}

.usb-container textarea {
  resize: none;
  text-align: center;
  font-size: 30px;
  margin-bottom: 5px;
  height: 1em;
  width: 95%;
}

.usb-container progress {
  width: 95%;

}
.upgrades {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px; /* space between columns, change as needed */
  grid-row-gap: 10px; /* space between rows, change as needed */
  height: 100px;
  padding: 5px;
  
}
body {
  
  text-align: center;
  background: linear-gradient(180deg, #000049 0%, #001e5f 100%);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-family: Arial;
  height: 100vh;
  margin: 0;
}

h1 {
  font-size: 70px;
  margin: 0;
  margin-bottom: 15px;
}
